*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.gradle/6.1.1/executionHistory/executionHistory.bin
.gradle/6.1.1/executionHistory/executionHistory.bin
.gradle/6.1.1/executionHistory/executionHistory.lock
.gradle/6.1.1/fileHashes/fileHashes.bin
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/6.1.1/fileHashes/resourceHashesCache.bin
.gradle/6.1.1/javaCompile/classAnalysis.bin
.gradle/6.1.1/javaCompile/jarAnalysis.bin
.gradle/6.1.1/javaCompile/javaCompile.lock
.gradle/6.1.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/6.1.1/executionHistory/executionHistory.bin
